body {
	background: #f0f0f0f0;
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-size: 15px;
}

::placeholder {
	color: #fff;
	font-size: 15px;
}

p {
	font-size: 25px;
}

input {
	font-family: "Montserrat", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: #fff;
	-webkit-box-shadow: 0 0 0 30px #0190a6 inset !important;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
	-webkit-text-fill-color: #fff;
	-webkit-box-shadow: 0 0 0 30px #0190a6 inset !important;
}

h1 {
	font-size: 40px;
}

textarea {
	resize: none;
	font-family: "Montserrat", sans-serif;
}

.header {
	background: #006e7f;
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 100%;
	min-height: 100vh;
}

.porfilimage {
	border-radius: 1000000px;
	border: solid;
	border-color: #fff;
	height: 200px;
}

.main {
	padding-top: 80px;
	color: #fff;
	width: 380;
}

.contactMe {
	padding-top: 30px;
	color: #fff;
	width: 380;
}

.inputtext {
	background: #0190a6;
	color: #fff;
	padding: 4px;
	margin: 3px;
	text-align: center;
	border: none;
	width: 250px;
	height: 30px;
	border-radius: 7px;
}

.inputtextarea {
	background: #0190a6;
	color: #fff;
	padding: 4px;
	margin: 3px;
	text-align: center;
	border: none;
	width: 250px;
	height: 90px;
	border-radius: 7px;
}

.inputsubmit {
	background: #ee5007;
	color: #fff;
	padding: 4px;
	margin: 3px;
	text-align: center;
	border: none;
	width: 250px;
	height: 30px;
	border-radius: 7px;
}

.inputsubmit:hover {
	background-color: #ee9b00;
}

.contents {
	padding-top: 50px;
	text-align: center;
}

.galery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
}

.post {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Neovim-mark-flat.svg);
	background-repeat: no-repeat;
	background-size: 200px;
	background-position: center;
	background-color: #fff;
	padding: 1em;
	color: transparent;
	text-align: center;
	margin: 4em;
	height: 20em;
	border-top-right-radius: 25px;
}

.post:hover {
	background-image: url();
	background-color: #001219;
	color: #ffffff;
}
